<div class="container-fluid container-application">
    <div class="m-auto" style="width: 350px;">
        <div class="w-75  m-auto">
            <img class="img-fluid" src="assets/img/brand/refood_.png" alt="">
        </div>
        <div class="w-75 m-auto">
            <img class="img-fluid" src="assets/img/brand//refoot_log.png" alt="">
        </div>
        <div class="card">
            <form class="card-body">
                <div class="form-group">
                    <label style="font-size: 20px;" class="form-control-label h1 mb-0">Login</label>
                    <small class="form-text text-muted mb-2 mt-0">Sign in to your account to continue</small>
                </div>
                <div class="form-group mt-3">
                    <label class="form-control-label mb-0">Email address</label>
                    <div class="input-group form-control">
                        <span class=""><i class="fas fa-user"></i></span>
                        <input type="text" class="ml-2 " style="border: none;" placeholder="name@exaple.com">
                    </div>

                </div>
                <div class="form-group mt-3">
                    <div class="d-flex justify-content-between">
                        <label class="form-control-label mb-0">Password</label>
                        <label class="form-control-label mb-0 " style=" text-decoration: underline dotted;text-underline-offset: 4px;">Lost password</label>
                    </div>

                    <div class="input-group form-control">
                        <span class=""><i class="fas fa-key"></i></span>
                        <input type="text" class="ml-2 " style="border: none;" placeholder="name@exaple.com">
                    </div>

                </div>
                <div>
                    <button routerLink="admin" type="button" class="btn btn-sm btn-primary rounded-pill mr-auto">Sign in<i class="ml-2 fas fa-arrow-right"></i></button>
                </div>
            </form>
            <div class="card-footer">
                <label class="mr-0">Not registered?</label>
                <button type="button" class="btn btn-sm btn-link text-primary ml-0 pl-0">Create Account</button>

            </div>
        </div>
    </div>

</div>