<div class="page-content">
    <!--Header-->
    <h3 class="text-white">Locatsiyon bilgisi</h3>
    <div class="row">
        <div class="col-xs-12 col-md-8 ">
            <div class="card card-fluid">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-xs-12 col-md-9">
                            <div class="d-flex">
                                <div class="b_icons m-2">
                                    <img alt="Image placeholder" src="assets/img/brand/turkcell_icon.png" class="img-fluid">
                                </div>
                                <div class="">
                                    <h4 class="d-block mb-0">Turkcell Mağaza</h4>
                                    <small class="d-block text-muted"><i class='fa fa-map-marker mr-2'></i>Yıldırım Beyazit Mah. Barbaros Cd. Yıldız Sk. No 34/1 Sarıyer/İstanbul</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 w-sm-100 col-md-3 col-2">
                            <img alt="Image placeholder" src="assets/img/clients/qr_codejpg.jpg" class="img-fluid">
                        </div>
                    </div>
                    <div class="d-flex text-align-center justify-content-between mt-2">
                        <div>
                            <h1 class="text-success">1.679<span class="ml-3" style="font-size: 15px;">günlük cironuz</span></h1>

                        </div>
                        <div class="mt-2"><span class="badge badge-success rounded-pill"><i class="fa fa-arrow-up mr-1" aria-hidden="true">17%</i></span></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 col-md-3 text-center">
                            <span class="h5 mb-0">46.010</span>
                            <span class="d-block text-sm">Toplam Ciro</span>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <span class="h5 mb-0">1.344</span>
                            <span class="d-block text-sm">Adet Satış</span>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <span class="h5 mb-0">%68</span>
                            <span class="d-block text-sm">Hedef Oranı</span>
                        </div>
                        <div class="col-6 col-md-3 text-center">
                            <span class="h5 mb-0">1578</span>
                            <span class="d-block text-sm">SKT Geçmiş</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 ">
            <div class="card card-fluid">
                <div class="card-body text-center d-flex flex-column justify-content-center">

                    <a href="#" class="btn btn-block btn-md btn-secondary mt-auto">Yol Tarifi Al</a>
                </div>
            </div>
        </div>
    </div>
    <!--header-end-->
    <!-- body- table -->
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="card" data-toggle="dragula" data-containers='["card-list-1", "card-list-2", "card-list-3"]'>
                <!-- Card header -->
                <div class="card-header actions-toolbar">
                    <div class="actions-search" id="actions-search">
                        <div class="input-group input-group-merge input-group-flush">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-transparent"><i class="fas fa-search"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-flush" placeholder="Type and hit enter ...">
                            <div class="input-group-append">
                                <a href="#" class="input-group-text bg-transparent" data-action="search-close" data-target="#actions-search"><i class="fas fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between align-items-center">
                        <div class="col">
                            <h6 class="d-inline-block mb-0">Mağaza Ürünü/Stoklar</h6>
                        </div>
                        <div class="col text-right">
                            <div class="actions"><a href="#" class="action-item mr-3" data-action="search-open" data-target="#actions-search"><i class="fas fa-search"></i></a>
                                <div class="dropdown mr-3">
                                    <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-filter"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-sort-amount-down"></i>Newest
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-sort-alpha-down"></i>From A-Z
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-sort-alpha-up"></i>From Z-A
                                        </a>
                                    </div>
                                </div>
                                <div class="dropdown" data-toggle="dropdown">
                                    <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item">Refresh</a>
                                        <a href="#" class="dropdown-item">Manage Widgets</a>
                                        <a href="#" class="dropdown-item">Settings</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card body Table-->

                <div class="table-responsive">
                    <table class="table align-items-center">
                        <thead>
                            <tr>
                                <th scope="col" class="sort font-weight-bold text-info" data-sort="name"></th>
                                <th scope="col" class="sort font-weight-bold text-info" data-sort="budget">Ürün Adı</th>
                                <th scope="col" class="sort font-weight-bold text-info" data-sort="status">Kategori</th>
                                <th scope="col" class="sort font-weight-bold text-info" data-sort="completion">Ücret</th>
                                <th scope="col" class="sort font-weight-bold text-info" data-sort="completion">Adet</th>
                                <th scope="col" class="sort font-weight-bold text-info" data-sort="completion">Durum</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr *ngFor="let item of [].constructor(10)">
                                <th>
                                    <div class="media align-items-center">

                                        <img alt="Image placeholder" src="assets/img/products/cocacola.png" class="img-fluid table-img">

                                    </div>
                                </th>
                                <td class="budget">
                                    <span>Electronic</span>
                                </td>
                                <td>
                                    <span class="status">Electron</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="completion">$129 USD</span>
                                    </div>
                                </td>
                                <td>
                                    <span class="status">1</span>
                                </td>
                                <td>
                                    <span class="status badge badge-success rounded-pill">Electron</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>



        <!--Map - Worket hours-->
        <div class="col-xs-12 col-md-4">
            <!--Map-->
            <div class="row">
                <div class="col-12 card card-fluid">
                    <div class="card-header">
                        <h6 class="mb-0">İşlemler/Raporlar</h6>
                    </div>
                    <div>
                        <span class="btn btn-block status btn-xs btn-success br-radius d-flex align-items-center mb-2 ">Günlük Elleçleme Listesi</span>
                        <a href="#modal-task-create" class="btn btn-block status btn-xs btn-secondary br-radius d-flex align-items-center mb-2 " data-toggle="modal">SKT Biten Ürünler Listesi</a>
                        <span class="btn btn-block  btn-xs btn-secondary br-radius d-flex align-items-center mb-2 ">Çıkış İrsaliyesi</span>
                        <a href="#modal-task-create" class="btn btn-block  btn-xs btn-secondary br-radius d-flex align-items-center mb-2 " data-toggle="modal">İmha Depo Listesi</a>
                    </div>
                </div>
                <!--Map end-->
                <div class=" col-12 card card-fluid">
                    <div class="card-header">
                        <h6 class="mb-0">Worked hours</h6>
                    </div>
                    <div class="card-body">
                        <!-- Chart -->
                        <div id="apex-worked-hours" data-color="primary" data-height="280"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Body end-->

    <!-- Create task modal -->
    <div class="modal fade" id="modal-task-create" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <img src="assets/img/lsdk.png" alt="">
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary rounded-pill mr-auto" data-dismiss="modal">Yazdır</button>
                    <button type="button" class="btn btn-sm btn-link text-muted px-2">Cencel</button>

                </div>
            </div>
        </div>
    </div>
</div>