<!-- Chat modal -->
<!-- Customizer modal -->
<!--
<div class="modal fade fixed-right" id="modal-chat" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-vertical" role="document">
        <div class="modal-content">
            <div class="modal-header align-items-center">
                <div class="modal-title">
                    <h6 class="mb-0">Chat</h6>
                    <span class="d-block text-sm">3 new conversations</span>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="scrollbar-inner">
              
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/profile/selimedin.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">John Sullivan</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/theme/light/team-2-800x800.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">Heather Wright</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/theme/light/team-3-800x800.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">James Lewis</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/profile/selimedin.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">Martin Gray</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/theme/light/team-5-800x800.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">Selim Edin</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/profile/selimedin.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">John Michael</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/theme/light/team-2-800x800.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">Monroe Parker</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/theme/light/team-3-800x800.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">Danielle Levin</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/profile/selimedin.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">Jesse Stevens</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/theme/light/team-5-800x800.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">Selim Edin</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/profile/selimedin.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">John Sullivan</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/theme/light/team-2-800x800.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">Heather Wright</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/theme/light/team-3-800x800.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">James Lewis</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/profile/selimedin.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">Martin Gray</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/theme/light/team-5-800x800.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">Selim Edin</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/profile/selimedin.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">John Michael</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/theme/light/team-2-800x800.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">Monroe Parker</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/theme/light/team-3-800x800.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">Danielle Levin</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/profile/selimedin.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">Jesse Stevens</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="">
                            <div>
                                <div class="avatar-parent-child">
                                    <img alt="Image placeholder" src="../assets/img/theme/light/team-5-800x800.jpg" class="avatar  rounded-circle">
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                            </div>
                            <div class="flex-fill ml-3">
                                <h6 class="text-sm mb-0">Selim Edin</h6>
                                <p class="text-sm mb-0">
                                    Working remotely
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="modal-footer py-3 mt-auto">
                <a href="#" class="btn btn-block btn-sm btn-neutral btn-icon rounded-pill">
                    <span class="btn-inner--icon"><i class="fab fa-facebook-messenger"></i></span>
                    <span class="btn-inner--text">Open Chat</span>
                </a>
            </div>
        </div>
    </div>
</div>-->
<!-- Application container -->
<div class="container-fluid container-application">
    <!-- Sidenav -->
    <div class="sidenav" id="sidenav-main">
        <!-- Sidenav header -->
        <div class="sidenav-header d-flex align-items-center">
            <a class="navbar-brand" href="../index.html">
                <img src="../assets/img/brand/logo.png" class="navbar-brand-img" alt="...">
            </a>
            <div class="ml-auto">
                <!-- Sidenav toggler -->
                <div class="sidenav-toggler sidenav-toggler-dark d-md-none" data-action="sidenav-unpin" data-target="#sidenav-main">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line bg-white"></i>
                        <i class="sidenav-toggler-line bg-white"></i>
                        <i class="sidenav-toggler-line bg-white"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- User mini profile -->
        <div class="sidenav-user d-flex flex-column align-items-center justify-content-between text-center">
            <!-- Avatar -->
            <div>
                <a href="#" class="avatar rounded-circle avatar-xl">
                    <img alt="Image placeholder" src="../assets/img/profile/selimedin.jpg" class="">
                </a>
                <div class="mt-4">
                    <h5 class="mb-0 text-white">Selim Edin</h5>
                    <span class="d-block text-sm text-white opacity-8 mb-3">Genel Müdür</span>
                    <a href="#" class="btn btn-sm btn-white btn-icon rounded-pill shadow hover-translate-y-n3">
                        <span class="btn-inner--icon"><i class="fas fa-coins"></i></span>
                        <span class="btn-inner--text">₺2.300</span>
                    </a>
                </div>
            </div>
            <!-- User info -->
            <!-- Actions -->
            <!-- <div class="w-100 mt-4 actions d-flex justify-content-between">
          <a href="../application/user/profile.html" class="action-item action-item-lg text-white pl-0">
            <i class="fas fa-user"></i>
          </a>
          <a href="#modal-chat" class="action-item action-item-lg text-white" data-toggle="modal">
            <i class="fas fa-comment-alt"></i>
          </a>
          <a href="../application/shop/invoices.html" class="action-item action-item-lg text-white pr-0">
            <i class="fas fa-receipt"></i>
          </a>
        </div> -->
        </div>
        <!-- Application nav -->
        <div class="nav-application clearfix">
            <span routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn btn-square text-sm">
                <span class="btn-inner--icon d-block"><i class="fas fa-home fa-2x"></i></span>
            <span class="btn-inner--icon d-block pt-2">Anasayfa</span>
            </span>
            <span routerLink="locations-info" routerLinkActive="active" class="btn btn-square text-sm">
                <span class="btn-inner--icon d-block"><i class="fas fa-project-diagram fa-2x"></i></span>
            <span class="btn-inner--icon d-block pt-2">Lokasyonlar</span>
            </span>
            <span routerLink="products" routerLinkActive="active" class="btn btn-square text-sm">
                <span class="btn-inner--icon d-block"><i class="fas fa-tasks fa-2x"></i></span>
            <span class="btn-inner--icon d-block pt-2">Ürünler</span>
            </span>
            <span routerLink="stores" routerLinkActive="active" class="btn btn-square text-sm">
                <span class="btn-inner--icon d-block"><i class="fas fa-columns fa-2x"></i></span>
            <span class="btn-inner--icon d-block pt-2">Depolar</span>
            </span>
            <span href="../application/user/card-listing.html" class="btn btn-square text-sm">
                <span class="btn-inner--icon d-block"><i class="fas fa-users-cog fa-2x"></i></span>
            <span class="btn-inner--icon d-block pt-2">Raporlar</span>
            </span>
            <span routerLink="users-list" routerLinkActive="active" class="btn btn-square text-sm">
                <span class="btn-inner--icon d-block"><i class="fas fa-cogs fa-2x"></i></span>
            <span class="btn-inner--icon d-block pt-2">Ayarlar</span>
            </span>
            <!--
        <a href="../application/shop/invoices.html" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-receipt fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Invoices</span>
        </a>
        <a href="../application/widgets.html" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-cogs fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Ayarlar</span>
        </a>
      -->
        </div>

        <!--Location navbar-->
        <div class="text-center">
            <span routerLink="locations-info" routerLinkActive="active_loc" class="btn btn-block btn-xs btn-secondary br-radius d-flex align-items-center mb-2 ">Locasyon Bilgisi</span>
            <span class="btn btn-block btn-xs btn-secondary br-radius d-flex align-items-center mb-2 ">İşveren Müşteri Girişi</span>
            <span routerLink="locations" routerLinkActive="active_loc" class="btn btn-block  btn-xs btn-secondary br-radius d-flex align-items-center mb-2 ">Lokasyonlar</span>
            <span routerLink="sale-products" routerLinkActive="active_loc" class="btn btn-block  btn-xs btn-secondary br-radius d-flex align-items-center mb-2 ">Satış Ürünler</span>
            <span class="btn btn-block  btn-xs btn-secondary br-radius d-flex align-items-center mb-2 ">Planogram Giriş</span>
            <span routerLink="raflar" routerLinkActive="active" class="btn btn-block  btn-xs btn-secondary br-radius d-flex align-items-center mb-2 ">Raf Bilgisi Girişi</span>
        </div>
        <!--Location navbar end-->
        <!--Urunler navbar-->
        <div class="text-center">
            <span class="btn btn-block btn-xs btn-secondary br-radius d-flex align-items-center mb-2 ">Tüm Ürünler</span>
            <span class="btn btn-block btn-xs btn-secondary br-radius d-flex align-items-center mb-2 ">SKT Geçmiş Ürünler</span>
            <span routerLink="add-pruduct" routerLinkActive="active_loc" class="btn btn-block  btn-xs btn-secondary br-radius d-flex align-items-center mb-2 ">Ürün Ekle</span>
        </div>
        <!--Urunler navbar end-->
        <!--Urunler navbar-->
        <div class="text-center">
            <span class="btn btn-block btn-xs btn-secondary btn-secondary br-radius d-flex align-items-center mb-2">Araç Ekleme</span>
            <span class="btn btn-block btn-xs btn-secondary br-radius d-flex align-items-center mb-2 ">Mağaza Depo Girişi</span>
            <span routerLink="stores" routerLinkActive="active_loc" class="btn btn-block btn-xs btn-secondary br-radius d-flex align-items-center mb-2 ">Depolar</span>
        </div>
        <!--Urunler navbar end-->

        <!--Urunler navbar-->
        <div class="text-center">
            <span class="btn btn-block btn-xs btn-secondary br-radius d-flex align-items-center mb-2 ">Yeni Kullanıcı</span>
            <span routerLink="users-list" routerLinkActive="active_loc" class="btn btn-block btn-xs btn-secondary br-radius d-flex align-items-center mb-2 ">Kullanıcılar</span>
        </div>
        <!--Urunler navbar end-->

        <!-- Misc area 
      <div class="card bg-gradient-warning">
        <div class="card-body">
          <h5 class="text-white">Hello, Friend!</h5>
          <p class="text-white mb-4">
            Why not start using Purpose Application UI Kit and create something amazing today?
          </p>
          <a href="https://themes.getbootstrap.com/product/purpose-application-ui-kit/" class="btn btn-sm btn-block btn-white rounded-pill" target="_blank">Get started</a>
        </div>
      </div>
      -->
    </div>
    <!-- Content -->
    <div class="main-content position-relative">
        <!-- Main nav -->
        <nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-primary navbar-border" id="navbar-main">
            <div class="container-fluid">
                <!-- Brand + Toggler (for mobile devices) -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <!-- User's navbar -->
                <div class="navbar-user d-lg-none ml-auto">
                    <ul class="navbar-nav flex-row align-items-center">
                        <li class="nav-item">
                            <a href="#" class="nav-link nav-link-icon sidenav-toggler" data-action="sidenav-pin" data-target="#sidenav-main"><i class="fas fa-bars"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link nav-link-icon" data-action="omnisearch-open" data-target="#omnisearch"><i class="fas fa-search"></i></a>
                        </li>
                        <li class="nav-item dropdown dropdown-animate">
                            <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg dropdown-menu-arrow p-0">
                                <div class="py-3 px-3">
                                    <h5 class="heading h6 mb-0">Notifications</h5>
                                </div>
                                <div class="list-group list-group-flush">
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago">
                                            <div>
                                                <span class="avatar bg-primary text-white rounded-circle">AM</span>
                                            </div>
                                            <div class="flex-fill ml-3">
                                                <div class="h6 text-sm mb-0">Alex Michael <small class="float-right text-muted">2 hrs ago</small></div>
                                                <p class="text-sm lh-140 mb-0">
                                                    Some quick example text to build on the card title.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="3 hrs ago">
                                            <div>
                                                <span class="avatar bg-warning text-white rounded-circle">SW</span>
                                            </div>
                                            <div class="flex-fill ml-3">
                                                <div class="h6 text-sm mb-0">Sandra Wayne <small class="float-right text-muted">3 hrs ago</small></div>
                                                <p class="text-sm lh-140 mb-0">
                                                    Some quick example text to build on the card title.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="5 hrs ago">
                                            <div>
                                                <span class="avatar bg-info text-white rounded-circle">JM</span>
                                            </div>
                                            <div class="flex-fill ml-3">
                                                <div class="h6 text-sm mb-0">Jason Miller <small class="float-right text-muted">5 hrs ago</small></div>
                                                <p class="text-sm lh-140 mb-0">
                                                    Some quick example text to build on the card title.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago">
                                            <div>
                                                <span class="avatar bg-dark text-white rounded-circle">MJ</span>
                                            </div>
                                            <div class="flex-fill ml-3">
                                                <div class="h6 text-sm mb-0">Mike Thomson <small class="float-right text-muted">2 hrs ago</small></div>
                                                <p class="text-sm lh-140 mb-0">
                                                    Some quick example text to build on the card title.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="3 hrs ago">
                                            <div>
                                                <span class="avatar bg-primary text-white rounded-circle">RN</span>
                                            </div>
                                            <div class="flex-fill ml-3">
                                                <div class="h6 text-sm mb-0">Richard Nixon <small class="float-right text-muted">3 hrs ago</small></div>
                                                <p class="text-sm lh-140 mb-0">
                                                    Some quick example text to build on the card title.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="py-3 text-center">
                                    <a href="#" class="link link-sm link--style-3">View all notifications</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown dropdown-animate">
                            <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="../assets/img/profile/selimedin.jpg">
                  </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow">
                                <h6 class="dropdown-header px-0">Hi, Heather!</h6>
                                <a href="../application/user/profile.html" class="dropdown-item">
                                    <i class="fas fa-user"></i>
                                    <span>My profile</span>
                                </a>
                                <a href="../application/account/settings.html" class="dropdown-item">
                                    <i class="fas fa-cog"></i>
                                    <span>Settings</span>
                                </a>
                                <a href="../application/account/billing.html" class="dropdown-item">
                                    <i class="fas fa-credit-card"></i>
                                    <span>Billing</span>
                                </a>
                                <a href="../application/shop/orders.html" class="dropdown-item">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span>Orders</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="../application/authentication/login.html" class="dropdown-item">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Navbar nav -->
                <div class="collapse navbar-collapse navbar-collapse-fade" id="navbar-main-collapse">
                    <ul class="navbar-nav align-items-lg-center">

                        <li class="border-top opacity-2 my-2"></li>
                        <!-- Docs menu -->
                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="../docs/index.html">
                  Docs
                </a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="../application/authentication/register.html">
                  Register
                </a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="../application/authentication/login.html">
                  Sign in
                </a>
                        </li>
                    </ul>
                    <!-- Right menu -->
                    <ul class="navbar-nav ml-lg-auto align-items-center d-none d-lg-flex">
                        <li class="nav-item">
                            <a href="#" class="nav-link nav-link-icon sidenav-toggler" data-action="sidenav-pin" data-target="#sidenav-main"><i class="fas fa-bars"></i></a>
                        </li>
                        <!-- <li class="nav-item">
                <a href="#" class="nav-link nav-link-icon" data-action="omnisearch-open" data-target="#omnisearch"><i class="fas fa-search"></i></a>
              </li>
              <li class="nav-item">
                <a href="#modal-chat" class="nav-link nav-link-icon" data-toggle="modal"><i class="fas fa-comment-alt"></i></a>
              </li>
              <li class="nav-item dropdown dropdown-animate">
                <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg dropdown-menu-arrow p-0">
                  <div class="py-3 px-3">
                    <h5 class="heading h6 mb-0">Notifications</h5>
                  </div>
                  <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago">
                        <div>
                          <span class="avatar bg-primary text-white rounded-circle">AM</span>
                        </div>
                        <div class="flex-fill ml-3">
                          <div class="h6 text-sm mb-0">Alex Michael <small class="float-right text-muted">2 hrs ago</small></div>
                          <p class="text-sm lh-140 mb-0">
                            Some quick example text to build on the card title.
                          </p>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="3 hrs ago">
                        <div>
                          <span class="avatar bg-warning text-white rounded-circle">SW</span>
                        </div>
                        <div class="flex-fill ml-3">
                          <div class="h6 text-sm mb-0">Sandra Wayne <small class="float-right text-muted">3 hrs ago</small></div>
                          <p class="text-sm lh-140 mb-0">
                            Some quick example text to build on the card title.
                          </p>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="5 hrs ago">
                        <div>
                          <span class="avatar bg-info text-white rounded-circle">JM</span>
                        </div>
                        <div class="flex-fill ml-3">
                          <div class="h6 text-sm mb-0">Jason Miller <small class="float-right text-muted">5 hrs ago</small></div>
                          <p class="text-sm lh-140 mb-0">
                            Some quick example text to build on the card title.
                          </p>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago">
                        <div>
                          <span class="avatar bg-dark text-white rounded-circle">MJ</span>
                        </div>
                        <div class="flex-fill ml-3">
                          <div class="h6 text-sm mb-0">Mike Thomson <small class="float-right text-muted">2 hrs ago</small></div>
                          <p class="text-sm lh-140 mb-0">
                            Some quick example text to build on the card title.
                          </p>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="3 hrs ago">
                        <div>
                          <span class="avatar bg-primary text-white rounded-circle">RN</span>
                        </div>
                        <div class="flex-fill ml-3">
                          <div class="h6 text-sm mb-0">Richard Nixon <small class="float-right text-muted">3 hrs ago</small></div>
                          <p class="text-sm lh-140 mb-0">
                            Some quick example text to build on the card title.
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="py-3 text-center">
                    <a href="#" class="link link-sm link--style-3">View all notifications</a>
                  </div>
                </div>
              </li> -->
                        <li class="nav-item dropdown dropdown-animate">
                            <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="media media-pill align-items-center">
                                    <span class="avatar rounded-circle">
                      <img alt="Image placeholder" src="../assets/img/profile/selimedin.jpg">
                    </span>
                                    <div class="ml-2 d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold">Selim Edin</span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow">
                                <h6 class="dropdown-header px-0">Hi, John!</h6>
                                <a href="#!" class="dropdown-item">
                                    <i class="fas fa-user"></i>
                                    <span>My profile</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="fas fa-cog"></i>
                                    <span>Settings</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="fas fa-credit-card"></i>
                                    <span>Billing</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="fas fa-tasks"></i>
                                    <span>Activity</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#!" class="dropdown-item">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Omnisearch -->
        <div id="omnisearch" class="omnisearch">
            <div class="container">
                <!-- Search form -->
                <form class="omnisearch-form">
                    <div class="form-group">
                        <div class="input-group input-group-merge input-group-flush">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Type and hit enter ...">
                        </div>
                    </div>
                </form>
                <div class="omnisearch-suggestions">
                    <h6 class="heading">Search Suggestions</h6>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a class="list-link" href="#">
                                        <i class="fas fa-search"></i>
                                        <span>macbook pro</span> in Laptops
                                    </a>
                                </li>
                                <li>
                                    <a class="list-link" href="#">
                                        <i class="fas fa-search"></i>
                                        <span>iphone 8</span> in Smartphones
                                    </a>
                                </li>
                                <li>
                                    <a class="list-link" href="#">
                                        <i class="fas fa-search"></i>
                                        <span>macbook pro</span> in Laptops
                                    </a>
                                </li>
                                <li>
                                    <a class="list-link" href="#">
                                        <i class="fas fa-search"></i>
                                        <span>beats pro solo 3</span> in Headphones
                                    </a>
                                </li>
                                <li>
                                    <a class="list-link" href="#">
                                        <i class="fas fa-search"></i>
                                        <span>smasung galaxy 10</span> in Phones
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Page contennt-->
        <router-outlet></router-outlet>
        <!--Page contennt-end-->

    </div>
</div>