<!-- Page content -->
<div class="page-content ">
    <!-- Page title -->
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <!-- Page title + Go Back button -->
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Mağaza Satış Ünitesi</h5>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-between justify-content-md-end">
                <!-- Filter input -->
                <form class="bg-neutral rounded-pill d-inline-block">
                    <div class="input-group input-group-sm input-group-merge input-group-flush">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent"><i class="fas fa-filter"></i></span>
                        </div>
                        <input type="text" class="form-control form-control-flush" placeholder="Filter results">
                    </div>
                </form>
                <a href="#modal-task-create" class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4" data-toggle="modal">
                    <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                </a>
            </div>
        </div>
    </div>
    <!--Products-->
    <div class="row">

        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="card-header border-0 pb-1">
                    <div class="align-items-center">

                        <h6 class="mb-2">CocaCola</h6>

                    </div>
                </div>
                <div class="card-body text-center">
                    <a href="#" class="avatar avatar-lg hover-translate-y-n3">
                        <img alt="Image placeholder" src="../assets/img/products/cocacola.png" class="">
                    </a>
                </div>
                <div class="card-footer">
                    <div class="actions d-flex justify-content-between px-1">
                        <a href="#" class="action-item">
                            <i class="fas fa-plus"></i>
                        </a>
                        <a href="#" class="action-item text-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="card-header border-0 pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="mb-2">CocaCola</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <a href="#" class="avatar avatar-lg hover-translate-y-n3">
                        <img alt="Image placeholder" src="../assets/img/products/cocacola.png" class="">
                    </a>
                </div>
                <div class="card-footer">
                    <div class="actions d-flex justify-content-between px-1">
                        <a href="#" class="action-item">
                            <i class="fas fa-plus"></i>
                        </a>
                        <a href="#" class="action-item text-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="card-header border-0 pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="mb-2">CocaCola</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <a href="#" class="avatar avatar-lg hover-translate-y-n3">
                        <img alt="Image placeholder" src="../assets/img/products/cocacola.png" class="">
                    </a>
                </div>
                <div class="card-footer">
                    <div class="actions d-flex justify-content-between px-1">
                        <a href="#" class="action-item">
                            <i class="fas fa-plus"></i>
                        </a>
                        <a href="#" class="action-item text-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="card-header border-0 pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="mb-2">CocaCola</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <a href="#" class="avatar avatar-lg hover-translate-y-n3">
                        <img alt="Image placeholder" src="../assets/img/products/cocacola.png" class="">
                    </a>
                </div>
                <div class="card-footer">
                    <div class="actions d-flex justify-content-between px-1">
                        <a href="#" class="action-item">
                            <i class="fas fa-plus"></i>
                        </a>
                        <a href="#" class="action-item text-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="card-header border-0 pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="mb-2">CocaCola</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <a href="#" class="avatar avatar-lg hover-translate-y-n3">
                        <img alt="Image placeholder" src="../assets/img/products/cocacola.png" class="">
                    </a>
                </div>
                <div class="card-footer">
                    <div class="actions d-flex justify-content-between px-1">
                        <a href="#" class="action-item">
                            <i class="fas fa-plus"></i>
                        </a>
                        <a href="#" class="action-item text-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="card-header border-0 pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="mb-2">CocaCola</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <a href="#" class="avatar avatar-lg hover-translate-y-n3">
                        <img alt="Image placeholder" src="../assets/img/products/cocacola.png" class="">
                    </a>
                </div>
                <div class="card-footer">
                    <div class="actions d-flex justify-content-between px-1">
                        <a href="#" class="action-item">
                            <i class="fas fa-plus"></i>
                        </a>
                        <a href="#" class="action-item text-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="card-header border-0 pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="mb-2">CocaCola</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <a href="#" class="avatar avatar-lg hover-translate-y-n3">
                        <img alt="Image placeholder" src="../assets/img/products/cocacola.png" class="">
                    </a>
                </div>
                <div class="card-footer">
                    <div class="actions d-flex justify-content-between px-1">
                        <a href="#" class="action-item">
                            <i class="fas fa-plus"></i>
                        </a>
                        <a href="#" class="action-item text-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="card-header border-0 pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="mb-2">CocaCola</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <a href="#" class="avatar avatar-lg hover-translate-y-n3">
                        <img alt="Image placeholder" src="../assets/img/products/cocacola.png" class="">
                    </a>
                </div>
                <div class="card-footer">
                    <div class="actions d-flex justify-content-between px-1">
                        <a href="#" class="action-item">
                            <i class="fas fa-plus"></i>
                        </a>
                        <a href="#" class="action-item text-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Load more -->
    <div class="mt-4 text-center">
        <a href="#" class="btn btn-sm btn-neutral rounded-pill shadow hover-translate-y-n3">Load more ...</a>
    </div>


    <!-- Create task modal planogram-->
    <div class="modal fade" id="modal-task-creat" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- Sales Unid ID -->
                    <div class="form-group">
                        <label class="form-control-label">Sales Unid ID</label>
                        <input type="text" class="form-control">
                    </div>
                    <!--Shelf ID-->
                    <div class="form-group">
                        <label class="form-control-label mb-0">Shelf ID</label>
                        <input type="text" class="form-control">
                    </div>
                    <!-- Sıra No-->
                    <div class="form-group">
                        <label class="form-control-label mb-0">Sıra No</label>
                        <input type="text" class="form-control">
                    </div>
                    <!-- Min. Adet -->
                    <div class="form-group">
                        <label class="form-control-label">Min. Adet</label>
                        <input type="text" class="form-control">
                    </div>
                    <!-- Max Adet -->
                    <div class="form-group">
                        <label class="form-control-label">Max Adet</label>
                        <input type="text" class="form-control">
                    </div>
                    <!-- Product ID -->
                    <div class="form-group">
                        <label class="form-control-label">Product ID</label>
                        <input type="text" class="form-control">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary rounded-pill mr-auto" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-sm btn-link text-muted px-2">Cencel</button>

                </div>
            </div>
        </div>
    </div>



    <!-- Create task modal ekle-->
    <div class="modal fade" id="modal-task-creat" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- Sales Unid Description -->
                    <div class="form-group">
                        <label class="form-control-label">Sales Unit Description</label>
                        <input type="text" class="form-control">
                    </div>
                    <!--Store-->
                    <div class="form-group">
                        <label class="form-control-label mb-0">Store</label>
                        <small class="form-text text-muted mb-2 mt-0">This textarea will autosize while you type</small>
                        <textarea class="form-control" data-toggle="autosize" rows="1"></textarea>
                    </div>
                    <!-- Sales Unit Types-->
                    <div class="form-group">
                        <label class="form-control-label mb-0">Sales Unit Types</label>
                        <!--Checkbox-->
                        <div class="d-flex justify-content-between flex-wrap">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check">
                                <label class="custom-control-label h6 text-sm">Kuru Raf</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <label class="custom-control-label h6 text-sm">Buzdolabı</label>
                            </div>

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <label class="custom-control-label h6 text-sm">Kahve Makinası</label>
                            </div>

                        </div>
                    </div>
                    <!-- Location -->
                    <div class="form-group">
                        <label class="form-control-label">Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <!-- Storage Type -->
                    <div class="form-group">
                        <label class="form-control-label">Storage Type</label>
                        <!--Checkbox-->
                        <div class="d-flex justify-content-between flex-wrap">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <label class="custom-control-label h6 text-sm" for="check-item-5">Kuru</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <label class="custom-control-label h6 text-sm" for="check-item-5">Soğuk</label>
                            </div>

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <label class="custom-control-label h6 text-sm">Donuk</label>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary rounded-pill mr-auto" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-sm btn-link text-muted px-2">Cencel</button>

                </div>
            </div>
        </div>
    </div>


    <!-- Create task modal raflar/ ekle-->
    <div class="modal fade" id="modal-task-create" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- Sales Unid Description -->
                    <div class="form-group">
                        <label class="form-control-label">Sales Unit Description</label>
                        <input type="text" class="form-control">
                    </div>
                    <!--Store-->
                    <div class="form-group">
                        <label class="form-control-label mb-0">Store</label>
                        <small class="form-text text-muted mb-2 mt-0">This textarea will autosize while you type</small>
                        <textarea class="form-control" data-toggle="autosize" rows="1"></textarea>
                    </div>
                    <!-- Sales Unit Types-->
                    <div class="form-group">
                        <label class="form-control-label mb-0">Sales Unit Types</label>
                        <!--Checkbox-->
                        <div class="d-flex justify-content-between flex-wrap">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check">
                                <label class="custom-control-label h6 text-sm">Kuru Raf</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <label class="custom-control-label h6 text-sm">Buzdolabı</label>
                            </div>

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <label class="custom-control-label h6 text-sm">Kahve Makinası</label>
                            </div>

                        </div>
                    </div>
                    <!-- Location -->
                    <div class="form-group">
                        <label class="form-control-label">Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <!-- Storage Type -->
                    <div class="form-group">
                        <label class="form-control-label">Storage Type</label>
                        <!--Checkbox-->
                        <div class="d-flex justify-content-between flex-wrap">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <label class="custom-control-label h6 text-sm" for="check-item-5">Kuru</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <label class="custom-control-label h6 text-sm" for="check-item-5">Soğuk</label>
                            </div>

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <label class="custom-control-label h6 text-sm">Donuk</label>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button type="button" class="btn btn-sm btn-primary rounded-pill mr-2" data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-sm btn-secondary rounded-pill mr-2" data-dismiss="modal">Resim Ekle</button>
                        <button type="button" class="btn btn-sm btn-secondary rounded-pill mr-2" data-dismiss="modal">Planogram</button>
                    </div>

                    <button type="button" class="btn btn-sm btn-link text-muted px-2">Cencel</button>

                </div>
            </div>
        </div>
    </div>


</div>