/* You can add global styles to this file, and also import other style files */

.avatar-lg {
    object-fit: contain;
}

.br-radius {
    height: 40px;
    font-size: .9rem;
    border-radius: 10px;
}

.active_loc {
    background-color: #fcaf00;
}

.addIcon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 30px;
}

.table-img {
    width: 100%;
    height: auto;
    max-width: 30px;
    min-width: 20px;
}

.b_icons {
    width: 70px;
    height: 70px;
}